<div class="pagination {% if data.size %}pagination-{{ data.size }}{% endif %}">
    {% if data.show_prev %}
        <a href="{{ data.prev_url }}" title="Previous Page" class="prev-page">{{ data.prev_text|safe }}</a>
    {% endif %}
    {% for page in data.pages %}
        <a href="{{ page.url }}" title="Go to Page ({{ page.number }})" class="page {% if page.class %}{{ page.class }}{% endif %}">{{ page.number }}</a>
    {% endfor %}
    {% if data.show_next %}
        <a href="{{ data.next_url }}" title="Next Page" class="next-page">{{ data.next_text|safe }}</a>
    {% endif %}
</div>
